<!--
 * @Author       : Lucifer
 * @Date         : 2022-11-13 13:58:44
 * @LastEditTime : 2022-11-13 15:09:30
 * @FilePath     : \personal\app\admin\view\public\footer.html
-->

</div>

</main>
<!--End 页面主要内容-->
</div>
</div>

<script type="text/javascript" src="../../static/admin/js/jquery.min.js"></script>
<script type="text/javascript" src="../../static/admin/js/popper.min.js"></script>
<script type="text/javascript" src="../../static/admin/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../static/admin/js/perfect-scrollbar.min.js"></script>
<script type="text/javascript" src="../../static/admin/js/jquery.cookie.min.js"></script>
<script type="text/javascript" src="../../static/admin/js/jquery-confirm/jquery-confirm.min.js"></script>
<script type="text/javascript" src="../../static/admin/js/bootstrap-table/bootstrap-table.min.js"></script>
<script type="text/javascript" src="../../static/admin/js/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script type="text/javascript" src="../../static/admin/js/main.min.js"></script>
<script type="text/javascript" src="../../static/admin/js/Chart.min.js"></script>
<script type="text/javascript" src="../../static/admin/js/bootstrap-notify.min.js"></script>
<script type="text/javascript" src="../../static/admin/js/app.min.js"></script>


</body>

</html>